@media screen and (min-width: 1024px) {
  main {
    padding: 0px 10%;
  }
  #main-header {
    padding: 1rem 10%;
  }
  #show-filters {
    width: 20%;
  }
  #filters {
    width: 50%;
    margin: 0 auto;
  }
  .search {
    width: 50%;
  }
}
