@media screen and (min-width: 560px) {
  main {
    width: 80%;
    margin: 0 auto;
  }
  #main-motto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .top,
  .sbs {
    width: 70%;
    margin: 0.5rem auto;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: auto;
  }
  .search {
    width: 70%;
    margin: 1rem auto;
  }
  .deal-card {
    grid-template-columns: 200px 1fr;
  }
  .deal-card__actions {
    width: 100%;
    justify-content: center;
  }
  .filters {
    width: 70%;
    margin: 1rem auto;
  }
  .filter-button {
    width: 70%;
    margin: 0 auto;
  }
}
