@media screen and (min-width: 560px) {
  #main-header {
    padding: 0.5rem 10%;
  }
  main {
    padding: 0.5rem 10%;
    margin: 0 auto;
  }
  #main-motto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  #main-footer {
    padding: 1rem 10%;
  }
  .burger {
    display: none;
  }
  .menu-content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    top: 0;
    opacity: 1;
  }
  .top,
  .sbs {
    width: 70%;
    margin: 0.5rem auto;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: 300px;
  }
  .search {
    width: 70%;
    margin: 1rem auto;
  }
  .deal-card {
    grid-template-columns: 200px 1fr;
  }
  .icons {
    position: relative;
    box-shadow: none;
  }
  .filters {
    width: 70%;
    margin: 1rem auto;
  }
  .filter-button {
    width: 70%;
    margin: 0 auto;
  }
}
