* {
  --color-toolbar: #123a3c;
  --color-background: #16364b;
  --color-highlight: #20ccd5;
  --color-search-text: #fbb7c3;
  --font-title: "Jura", sans-serif;
  --font-heading: "Mallanna", sans-serif;
  --font-paragraph: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  background-image: linear-gradient(
    to bottom right,
    var(--color-background),
    var(--color-toolbar)
  );
  color: white;
  font-family: var(--font-paragraph);
  font-size: 16pt;
  min-height: 100vh;
}
img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
img[data-src] {
  filter: blur(5px);
}
h1 {
  font-family: var(--font-title);
  color: var(--color-search-text);
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}
h2 {
  font-family: var(--font-heading);
  color: var(--color-search-text);
  padding: 0.5rem;
  text-align: center;
}
p {
  font-family: var(--font-paragraph);
}
a {
  text-decoration: none;
  color: var(--color-search-text);
}
input {
  font-family: var(--font-paragraph);
  outline: none;
  border: none;
}
form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 10px;
  font-family: var(--font-paragraph);
}
button {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  width: 60%;
  font-family: var(--font-heading);
  font-size: 1.2em;
  background-color: var(--color-toolbar);
  box-shadow: 0px 0px 2px var(--color-highlight);
  color: var(--color-highlight);
  border: none;
  border-radius: 10px;
}

/*--------------------- Header Styles ---------------------*/
#main-header {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
  background-color: var(--color-background);
}
#main-header h1 {
  font-size: 2rem;
}
#logo img {
  width: 40px;
}
.icons {
  position: relative;
  z-index: 3;
  padding: 5px;
}

/*--------------------- Main Styles ---------------------*/
main {
  display: grid;
  padding: 0.5rem;
}
#main-motto {
  width: 80%;
  font-size: 2rem;
  font-family: var(--font-heading);
  text-align: center;

  margin: 1rem auto;
  padding: 0.5em;

  background-color: var(--color-background);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-highlight);

  overflow: hidden;
}
#search-text {
  margin: 1rem auto;
  text-align: center;
}

/*--------------------- Search Bar Styles ---------------------*/
.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 1rem;
  padding: 0;
  background-color: white;
  border-radius: 10px;
}
.actions {
  padding: 0;
  border: none;
}
.search-button {
  width: auto;
  box-shadow: none;
  margin: 0;
  background-color: transparent;
  border: none;
}
#search {
  width: 100%;
}
#search-bar {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16pt;
  padding-left: 0.5rem;
}

/*--------------------- Footer Styles ---------------------*/

/*--------------------- Deal-Card Styles ---------------------*/
.deal-card,
.wish-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 40% 1fr;
  align-items: center;
  width: 100%;
  min-height: 220px;

  background-color: var(--color-toolbar);
  box-shadow: 0px 0px 5px var(--color-highlight);
  text-align: center;
}
.deal-card:hover .deal-card__image {
  transform: scale(1.2);
  border-radius: 10px;
}
.wish-card__store,
.deal-card__store-icon {
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  z-index: 2;
  width: 26px;
  padding: 5px;
  background-color: var(--color-toolbar);
  border-radius: 10px;
}
.deal-card__image {
  display: block;
  transition: all 1s ease-out;
}
.deal-card__details {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-toolbar);
  min-height: 100%;
  max-height: 300px;
}
.deal-card__title {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  overflow: hidden;
}
.deal-card__date {
  background-color: var(--color-toolbar);
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
}
.deal-card__prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deal-card__retail,
.deal-card__list {
  margin: 0 0.5rem;
  color: var(--color-search-text);
}
.deal-card__retail {
  text-decoration: line-through;
}
.deal-card__list {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(26, 163, 170, 0.3);
}
.deal-card__actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}
.deal-card__wish,
.deal-card__shop {
  display: block;
  height: 40px;
  width: 40px;
  padding: 5px;
  margin: 0 10px;
  border-radius: 10px;
}
.deal-card__shop {
  background-color: #5c0514;
  justify-self: flex-end;
}
.deal-card__wish {
  background-color: #1aa3aa;
  justify-self: flex-start;
  display: block;
}
.deal-card__wish:hover {
  cursor: pointer;
}

/*--------------------- Wishlist Styles ---------------------*/
.wish-card__details {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*--------------------- Filter Form Styles ---------------------*/
.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
}
.top {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.sbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}
#lowerPrice,
#upperPrice {
  width: 3em;
}

/*--------------------- Class Styles ---------------------*/
.menu-content {
  position: absolute;
  top: 40px;
  right: 0;
  flex-direction: column;
  background-color: var(--color-background);
  padding: 5px;
  border-radius: 10px;
}
.burger:hover .menu-content {
  display: flex;
}
.burger,
.info,
.home,
.wishlist {
  position: relative;
  display: block;
  height: 40px;
}
.caption {
  position: absolute;
  top: 0;
  right: 40px;
  text-decoration: none;
  padding: 0.5rem;
  background-color: var(--color-background);
  color: var(--color-highlight);
  border-radius: 5px;
}
.burger:hover .caption,
.info:hover .caption,
.home:hover .caption,
.wishlist:hover .caption {
  opacity: 1;
  height: auto;
}
.loading {
  display: block;
  width: 100px;
  margin: 0 auto;
  animation: rotate 1.5s ease-in-out 0.5s infinite;
}
.hidden {
  will-change: opacity, height;
  transition: opacity 0.25s ease-out, height 0.5s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.f-open {
  opacity: 1;
  height: 420px;
}
.m-open {
  opacity: 1;
  height: 130px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  list-style-type: none;
  padding: 0.5rem;
}
.alert {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 10px;
  background-color: var(--color-toolbar);
  color: var(--color-highlight);
  box-shadow: 0px 0px 2px var(--color-highlight);
  border-radius: 10px;
}
.close-alert:hover {
  cursor: pointer;
  color: var(--color-search-text);
}
.animate-icon {
  animation: grow 1s ease 0s;
}

/*--------------------- ID Styles ---------------------*/
#logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#search-text img {
  filter: invert();
}

/*--------------------- Animations ---------------------*/
@keyframes scale-small {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
