* {
  --color-toolbar: #123a3c;
  --color-background: #16364b;
  --color-highlight: #20ccd5;
  --color-search-text: #fbb7c3;
  --font-title: "Jura", sans-serif;
  --font-heading: "Mallanna", sans-serif;
  --font-paragraph: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  font-size: 16pt;
}

body {
  background-color: var(--color-background);
  background-image: linear-gradient(
    to bottom right,
    var(--color-background),
    var(--color-toolbar)
  );
  color: white;
  font-family: var(--font-paragraph);
  min-height: 100vh;
}
img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
img[data-src] {
  filter: blur(5px);
}
h1 {
  font-family: var(--font-title);
  color: var(--color-search-text);
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}
h2 {
  font-family: var(--font-heading);
  color: var(--color-search-text);
  padding: 0.5rem;
  text-align: center;
}
p {
  font-family: var(--font-paragraph);
}
a {
  text-decoration: none;
  color: var(--color-search-text);
}
input,
textarea,
select {
  font-family: var(--font-paragraph);
  border-radius: 5px;
  outline: none;
  border: none;
}
input:valid {
  border-bottom: 5px solid var(--color-highlight);
}
input:invalid {
  border-bottom: 5px solid red;
}
form {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  font-family: var(--font-paragraph);
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 0.8rem auto;
  font-family: var(--font-heading);
  font-size: 1.2em;
  background-color: var(--color-toolbar);
  border: none;
  border-bottom: 2px solid var(--color-highlight);
  color: var(--color-search-text);
  border-radius: 10px;
}
button:hover {
  color: var(--color-highlight);
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid var(--color-search-text);
}
button img {
  width: 40px;
}

/*--------------------- Header Styles ---------------------*/
#main-header {
  position: sticky;
  top: 0;
  padding: 0 5px;
  z-index: 5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
}
#main-header h1 {
  font-size: 1.3rem;
}
#logo img {
  width: 30px;
}
.icons {
  position: relative;
  z-index: 3;
  padding: 5px;
}

/*--------------------- Main Styles ---------------------*/
main {
  padding: 0.5rem;
}
#main-motto {
  width: 80%;
  font-size: 90%;
  font-family: var(--font-heading);
  text-align: center;

  margin: 1rem auto;
  padding: 0.5em;

  background-color: var(--color-background);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-highlight);

  overflow: hidden;
}
#search-text {
  margin: 1rem auto;
  text-align: center;
}

/*--------------------- Search Bar Styles ---------------------*/
.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 1rem;
  padding: 0;
  background-color: white;
  border-radius: 10px;
}
.actions {
  padding: 0;
  border: none;
}
.search-button {
  width: auto;
  box-shadow: none;
  margin: 0;
  background-color: transparent;
  border: none;
}
.search-button:hover {
  border: none;
}
#search {
  width: 100%;
}
#search-bar {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16pt;
  padding-left: 0.5rem;
}

/*--------------------- Footer Styles ---------------------*/

/*--------------------- Deal-Card Styles ---------------------*/
.deal-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  width: 100%;
  background-color: var(--color-toolbar);
  box-shadow: 0px 0px 5px var(--color-highlight);
  text-align: center;
}
.deal-card__store {
  position: absolute;
  display: flex;
  align-items: center;
  top: 5px;
  left: 5px;
  z-index: 2;
  padding: 2px 5px;
  color: var(--color-search-text);
  background-color: var(--color-toolbar);
  border-radius: 10px;
  font-size: 0.8rem;
}
.deal-card__store img {
  width: 16px;
  margin: 2px;
}
.deal-card__image {
  z-index: 0;
  transition: all 1s ease-out;
}
.deal-card__details {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-toolbar);
}
.deal-card__title {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}
.deal-card__date {
  color: var(--color-search-text);
  background-color: var(--color-toolbar);
  font-size: 0.9rem;
  margin: 0.5rem;
  border-radius: 5px;
}
.deal-card__prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deal-card__retail {
  margin: 0 0.5rem;
  color: var(--color-search-text);
  text-decoration: line-through;
}
.deal-card__list {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 10px;
  background-color: rgba(26, 163, 170, 0.3);
  color: var(--color-search-text);
}
.deal-card__actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}
.deal-card__wish,
.deal-card__shop,
.deal-card__email {
  display: block;
  height: 40px;
  width: 40px;
  padding: 5px;
  margin: 0 10px;
  border-radius: 10px;
}
.deal-card__shop {
  display: block;
  background-color: #5c0514;
  justify-self: flex-end;
}
.deal-card__wish {
  display: block;
  background-color: #1aa3aa;
  justify-self: center;
}
.deal-card__email {
  display: block;
  background-color: var(--color-search-text);
  justify-self: flex-start;
}
.deal-card__wish:hover,
.deal-card__email:hover {
  cursor: pointer;
}

/*--------------------- Wishlist Styles ---------------------*/
.wish-card__details {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*--------------------- Filter Form Styles ---------------------*/
.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}
.top {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.sbs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#lowerPrice,
#upperPrice {
  width: 3em;
}

/*--------------------- Class Styles ---------------------*/
.menu-content {
  position: absolute;
  top: 2.5rem;
  right: 0;
  flex-direction: column;
  color: var(--color-highlight);
  background-color: var(--color-background);
  padding: 5px;
  border-radius: 10px;
}
.burger:hover .menu-content {
  display: flex;
}
.icon {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
  margin: 5px;
  color: var(--color-search-text);
}
.icon img {
  width: 40px;
}
.loading {
  display: block;
  width: 100px;
  margin: 0 auto;
  animation: rotate 1.5s ease-out 0.5s infinite;
}
.hidden {
  will-change: opacity, height;
  transition: opacity 0.25s ease-out, height 0.5s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.f-open {
  opacity: 1;
  height: 440px;
}
.m-open {
  opacity: 1;
  height: 190px;
  z-index: inherit;
}
.h-open {
  opacity: 1;
  height: auto;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  list-style-type: none;
  padding: 0.5rem;
}
.alert {
  padding: 10px;
  margin: 0 5%;
  width: 90%;
  z-index: 6;
  text-align: center;
  background-color: #5c0514;
  color: var(--color-highlight);
  border: 2px solid var(--color-highlight);
  border-radius: 10px;

  animation: grow 1s ease-out 1;
}
.close-alert:hover {
  cursor: pointer;
  color: var(--color-search-text);
}
.animate-icon {
  animation: grow 1s ease 0s;
}
.close-help {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 800;
  font-size: 2rem;
}
.wishlist-alerts {
  padding-left: 0;
  margin: 0;
}
.alert-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 0.8rem;
  margin: 1rem;
  color: var(--color-search-text);
  background-color: var(--color-toolbar);
  box-shadow: 0px 0px 5px var(--color-search-text);
  border-radius: 10px;
}
.alert-item select {
  height: 32px;
}
.alert-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.delete-alert {
  font-size: 20pt;
  font-weight: 800;
  padding: 5px 10px;
  color: #5c0514;
  background-color: var(--color-search-text);
  border-radius: 10px;
}
.delete-alert:hover {
  cursor: pointer;
  color: var(--color-search-text);
  background-color: #5c0514;
}
.email-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  width: 100%;
  min-height: 100vh;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}
.e-open {
  opacity: 1;
  height: auto;
  z-index: 6;
}
.alert-form {
  position: relative;
  width: 90%;
  background-color: var(--color-toolbar);
  border-radius: 10px;
  padding: 1rem;
}
.alert-form h2 {
  padding: 0;
  font-size: 1.5rem;
}
.alert-form button {
  border: 2px solid var(--color-highlight);
}
.close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-weight: bold;
}

/*--------------------- ID Styles ---------------------*/
#logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#search-text {
display: flex;
flex-direction: column;
align-items: center;
}
#search-text img {
  max-width: 80px;
  filter: invert();
}
#search-deals {
  margin: 0;
}
#alerts {
  position: fixed;
  bottom: 1rem;
  left: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5px;
  z-index: 6;
}

/*--------------------- Animations ---------------------*/
@keyframes scale-small {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
