* {
  --color-toolbar: #123a3c;
  --color-background: #16364b;
  --color-highlight: #20ccd5;
  --color-search-text: #fbb7c3;
  --font-title: "Jura", sans-serif;
  --font-heading: "Mallanna", sans-serif;
  --font-paragraph: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--color-background);
  background-image: linear-gradient(
    to bottom right,
    var(--color-background),
    var(--color-toolbar)
  );
  color: white;
  font-size: 16pt;
  min-height: 100vh;
  transition: all 1s ease-in-out;
}
img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--font-title);
  color: var(--color-search-text);
  padding: 0.5rem;
}
h2 {
  font-family: var(--font-heading);
  color: var(--color-search-text);
  padding: 0.5rem;
}
p {
  font-family: var(--font-paragraph);
}
a {
  text-decoration: none;
}
input {
  font-family: var(--font-paragraph);
  outline: none;
}
form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 10px;
  font-family: var(--font-paragraph);
}
form input {
  border: none;
  border-radius: 5px;
  font-size: 12pt;
  margin: 0.5rem;
}

/*--------------------- Header Styles ---------------------*/
#main-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
}
#main-header h1 {
  font-size: 1.5rem;
}
#main-header img {
  width: 30px;
  height: 30px;
}

/*--------------------- Main Styles ---------------------*/
main {
  display: grid;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
}
#main-motto {
  width: 80%;
  font-size: 2rem;
  font-family: var(--font-heading);
  text-align: center;

  margin: 1rem auto;
  padding: 0.5em;

  background-color: var(--color-background);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-highlight);

  overflow: hidden;
}
#search-text {
  margin: 1rem auto;
  text-align: center;
}

/*--------------------- Search Bar Styles ---------------------*/
.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 1rem;
  padding: 0;
  background-color: white;
  border-radius: 10px;
}
.actions {
  padding: 0;
  border: none;
}
.field {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}
.field input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 16pt;
}
.search-button {
  background-color: transparent;
  border: none;
}

/*--------------------- Footer Styles ---------------------*/

/*--------------------- Deal-Card Styles ---------------------*/
.deal-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--color-toolbar);
  box-shadow: 0px 0px 5px var(--color-highlight);
}
.deal-card:hover .deal-card__image {
  transform: scale(1.2, 1.2);
  border-radius: 10px;
}
.deal-card__store-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  width: 16px;
  padding: 5px;
  background-color: var(--color-toolbar);
  border-radius: 10px;
}
.deal-card__image {
  display: block;
  transition: all 1s ease-out;
}
.deal-card__details {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-toolbar);
  border-radius: 0 0 10px 10px;
}
.deal-card__title {
  width: 100%;
  margin: 0;
  font-size: 1rem;
}
.deal-card__prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
}
.deal-card__retail,
.deal-card__list {
  margin: 0 0.5rem;
  color: var(--color-search-text);
}
.deal-card__retail {
  text-decoration: line-through;
}
.deal-card__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem;
  width: 60%;
}
.deal-card__wish,
.deal-card__shop {
  display: inline-block;
  height: 20px;
  width: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
.deal-card__shop {
  background-color: #5c0514;
}
.deal-card__wish {
  background-color: #1aa3aa;
}

/*--------------------- Filter Form Styles ---------------------*/
.filter-button {
  display: block;
  margin: 0 1rem;
  padding: 0.5rem 1rem;

  font-family: var(--font-heading);
  font-size: 1.2em;
  background-color: var(--color-toolbar);
  box-shadow: 0px 0px 2px var(--color-highlight);
  color: var(--color-highlight);
  border: none;
  border-radius: 10px;
}
#filters {
  display: none;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.sbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}
#lowerPrice,
#uppperPrice {
  width: 4em;
}

/*--------------------- Class Styles ---------------------*/
.info,
.home,
.wishlist {
  position: relative;
  padding: 0.5rem;
}
.caption {
  position: absolute;
  bottom: -30px;
  right: 25%;
  display: none;
  text-decoration: none;
  padding: 0.5rem;
  background-color: var(--color-toolbar);
  color: var(--color-highlight);
  border-radius: 5px;
}
.info:hover .caption,
.home:hover .caption,
.wishlist:hover .caption {
  display: block;
}
.loading {
  display: block;
  width: 100px;
  margin: 0 auto;
  animation: rotate 1.5s ease-in-out 0.5s infinite;
}
.open {
  display: flex;
}
.grid {
  display: flex;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(45px, auto);
  gap: 1em;

  list-style-type: none;
  padding: 0.5rem;
}

/*--------------------- ID Styles ---------------------*/
#logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

/*--------------------- Animations ---------------------*/
@keyframes scale-small {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
